* {
    margin: 0 auto;
    padding: 0px;
    border: 0px;
}

body {
    margin: 0px;
    padding: 0px;
    background-color: white;
}

#header {
    width: 100%;
    height: 100px;
    background-color: white;
    display: flex;
    flex-direction: column;
}

#header-div1 {
    width: 100%;
    height: 40px;
    margin-top: 15px;
    background-color: #f2f2f2;
}

#header-ul {
    display: flex;
    list-style-type: none;
    width: 50%;
    margin-right: 20px;
    font-size: 13px;
}

#header-div2 {
    display: flex;
    margin-top: 10px;
}

#stutern-logo {
    width: 120px;
    height: 50px;
    margin: 0px 50px 0px 0px;
}

#input {
    width: 600px;
    height: 26px;
    border: 2px solid red;
    margin-bottom: 20px;
    border-right: none;
}

.dropdown1 {
    width: 120px;
    height: 30px;
    border: 2px solid red;
    border-left: none;
}

#search-bar {
    width: 30px;
    height: 30px;
    background-color: red;
    color: white;
}

#search-icon {
    margin-top: 6px;
    margin-left: 4px;
}

#cart-icon {
    margin-left: 50px;
    margin-top: 6px;
}

#section1 {
    width: 100%;
    height: 350px;
    display: flex;
    background-color: #f2f2f2;
}

#section1-div1 {
    background-color: white;
    width: 20%;
    height: inherit;
    margin-left: 30px;
}

h3 {
    margin: 5px 0px 2px 20px;
}

#section1-div1-ul {
    list-style-type: none;
    margin-left: 20px;
    font-size: 14px;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 15px;
}

.list {
    margin-top: 12px;
}

#section1div2 {
    width: 50%;
    height: inherit;
    background-image: url(https://ae01.alicdn.com/kf/H99948d81ab0f496292325b1f6046f11fJ.jpg_Q90.jpg_.webp);
}

#section1-div3 {
    background-color: #f2f2f2;
    width: 25%;
    height: inherit;
    margin-right: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#section1-div3-a {
    width: 230px;
    height: 230px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#welcome-para {
    font-size: 17px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 20px;
}

#join-btn {
    width: 80px;
    height: 30px;
    border-radius: 20px;
    background-color: red;
    color: white;
    font-family: 'Times New Roman', Times, serif;
}

#signin-btn {
    width: 80px;
    height: 30px;
    border-radius: 20px;
    background-color: white;
    color: gainsboro font-family;
    font-family: 'Times New Roman', Times, serif;
    border: 1px solid black;
    margin-top: 30px;
}

#cart-container1 {
    width: 100%;
    height: 600px;
    background-color: gray;
}

#cart-container2 {
    width: 100%;
    height: 600px;
    background-color: #f2f2f2;
    display: flex;
    flex-direction: column;
}

#cart-container2-a {
    display: flex;
}

#cart-container2-b {
    display: flex;
    margin-top: 10px;
}

.cart-div {
    width: 190px;
    height: 280px;
    background-color: white;
    margin-right: 10px;
    border-radius: 5px;
}

#cart-table {
    width: 100%;
}

#table {
    width: 800px;
    height: 150px;
    background-color: gainsboro;
    border-radius: 5px;
}

#tbody1 {
    background-color: goldenrod;
}

.cart-sub-div {
    margin-left: 15px;
}

.cart-img {
    width: 90%;
    height: 60%;
}

.item-name {
    font-size: 13px;
}

.item-price {
    font-weight: bold;
    margin-top: 5px;
}

.sold-items {
    font-size: 11px;
    margin-top: 5px;
}

.cart-btn {
    font-size: 12px;
    width: 100px;
    height: 25px;
    border-radius: 4px;
    background-color: yellow;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-top: 12px;
}

.img-in-cart {
    border-radius: 50%;
}

.table-head {
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    right: 20px;
}

.name-of-item {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

.remove-item {
    width: 80px;
    height: 20px;
    background-color: red;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    border-radius: 4px;
}

#footer {
    width: 100%;
    height: 300px;
    background-color: navy;
    display: flex;
    flex-direction: column;
    color: white;
}

#hr {
    border: 1px solid grey;
    width: 100%;
    margin: 10px 0px 0px 0px;
}

#hr-2 {
    border: 1px solid grey;
    width: 100%;
    margin: 10px 0px 15px 0px;
}

#footer-container {
    width: 100%;
    height: 200px;
    display: flex;
}

#footer-div1 {
    display: flex;
    flex-direction: column;
    width: 20%;
    height: inherit;
    margin-top: 10px;
}

#footer-div1-para {
    font-weight: bold;
    margin-bottom: 15px;
    font-family: 'Times New Roman', Times, serif;
}

.footer-icons {
    margin-left: 12px;
}

#footer-div1-ul {
    display: flex;
    list-style-type: none;
}

#footer-div2 {
    display: flex;
    width: 60%;
    height: inherit;
    margin-top: 10px;
}

#footer-div2-ul-1 {
    list-style-type: none;
}

#footer-div2-ul-2 {
    list-style-type: none;
}

#footer-div2-ul-3 {
    list-style-type: none;
}

.shopping-with-us {
    font-weight: bold;
    margin-bottom: 20px;
    font-family: 'Times New Roman', Times, serif;
}

.footer-list {
    margin-top: 12px;
    font-family: 'Times New Roman', Times, serif;
}

@media only screen and (max-width: 1024px) and (min-width: 768px) {
    #header {
        width: 100%;
        height: 100px;
        background-color: rgb(16, 248, 16);
        display: flex;
        flex-direction: column;
    }
    #header-div1 {
        width: 100%;
        height: 40px;
        margin-top: 15px;
        background-color: rgb(13, 196, 13);
    }
    #header-ul {
        display: flex;
        list-style-type: none;
        width: 50%;
        margin-right: 20px;
        font-size: 13px;
    }
    #header-div2 {
        display: flex;
        margin-top: 10px;
    }
    #stutern-logo {
        width: 80px;
        height: 50px;
        margin: 0px 50px 0px 0px;
    }
    #input {
        width: 300px;
        height: 26px;
        border: 2px solid blue;
        margin-bottom: 20px;
        border-right: none;
    }
    .dropdown1 {
        width: 120px;
        height: 30px;
        border: 2px solid blue;
        border-left: none;
    }
    #search-bar {
        width: 30px;
        height: 30px;
        background-color: blue;
        color: white;
    }
    #search-icon {
        margin-top: 6px;
        margin-left: 4px;
    }
    #cart-icon {
        margin-left: 50px;
        margin-top: 6px;
    }
    #section1 {
        width: 100%;
        height: 350px;
        display: flex;
        background-color: #f2f2f2;
    }
    #section1-div1 {
        background-color: white;
        width: 20%;
        height: inherit;
        margin-left: 30px;
    }
    h3 {
        margin: 5px 0px 2px 20px;
    }
    #section1-div1-ul {
        list-style-type: none;
        margin-left: 20px;
        font-size: 14px;
        font-family: 'Times New Roman', Times, serif;
        margin-top: 15px;
    }
    .list {
        margin-top: 12px;
    }
    #section1div2 {
        width: 50%;
        height: inherit;
        background-image: url(https://ae01.alicdn.com/kf/H99948d81ab0f496292325b1f6046f11fJ.jpg_Q90.jpg_.webp);
    }
    #section1-div3 {
        background-color: #f2f2f2;
        width: 25%;
        height: inherit;
        margin-right: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    #section1-div3-a {
        width: 200px;
        height: 200px;
        background-color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    #welcome-para {
        font-size: 17px;
        font-weight: bold;
        font-family: 'Times New Roman', Times, serif;
        margin-top: 20px;
    }
    #join-btn {
        width: 60px;
        height: 25px;
        border-radius: 17px;
        background-color: blue;
        color: white;
        font-family: 'Times New Roman', Times, serif;
    }
    #signin-btn {
        width: 60px;
        height: 25px;
        border-radius: 17px;
        background-color: white;
        color: gainsboro font-family;
        font-family: 'Times New Roman', Times, serif;
        border: 1px solid black;
        margin-top: 30px;
    }
    #cart-container1 {
        width: 100%;
        height: 600px;
        background-color: gray;
    }
    #cart-container2 {
        width: 100%;
        height: 600px;
        background-color: #f2f2f2;
        display: flex;
        flex-direction: column;
    }
    #cart-container2-a {
        display: flex;
        width: 100%;
    }
    #cart-container2-b {
        display: flex;
        margin-top: 10px;
        width: 100%;
    }
    .cart-div {
        width: 140px;
        height: 240px;
        background-color: white;
        margin-right: 10px;
        border-radius: 5px;
    }
    #cart-table {
        width: 100%;
    }
    #table {
        width: 600px;
        height: 120px;
        background-color: gainsboro;
        border-radius: 5px;
    }
    #item {
        font-size: 13px;
    }
    .cart-sub-div {
        margin-left: 12px;
    }
    .cart-img {
        width: 90%;
        height: 60%;
    }
    .item-name {
        font-size: 10px;
    }
    .item-price {
        font-weight: bold;
        margin-top: 5px;
        font-size: 10px;
    }
    .sold-items {
        font-size: 11px;
        margin-top: 5px;
    }
    .cart-btn {
        font-size: 10px;
        width: 70px;
        height: 20px;
        border-radius: 4px;
        background-color: blue;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        margin-top: 12px;
    }
    .img-in-cart {
        border-radius: 50%;
    }
    .table-head {
        font-size: 13px;
        font-family: Arial, Helvetica, sans-serif;
        position: relative;
        right: 20px;
    }
    .name-of-item {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 14px;
    }
    .remove-item {
        width: 80px;
        height: 20px;
        background-color: red;
        font-weight: bold;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 12px;
        border-radius: 4px;
    }
    #footer {
        width: 100%;
        height: 300px;
        background-color: navy;
        display: flex;
        flex-direction: column;
        color: white;
    }
    #hr {
        border: 1px solid grey;
        width: 100%;
        margin: 10px 0px 0px 0px;
    }
    #hr-2 {
        border: 1px solid grey;
        width: 100%;
        margin: 10px 0px 15px 0px;
    }
    #footer-container {
        width: 100%;
        height: 200px;
        display: flex;
    }
    #footer-div1 {
        display: flex;
        flex-direction: column;
        width: 20%;
        height: inherit;
        margin-top: 10px;
    }
    #footer-div1-para {
        font-weight: bold;
        margin-bottom: 15px;
        font-family: 'Times New Roman', Times, serif;
    }
    .footer-icons {
        margin-left: 12px;
    }
    #footer-div1-ul {
        display: flex;
        list-style-type: none;
    }
    #footer-div2 {
        display: flex;
        width: 60%;
        height: inherit;
        margin-top: 10px;
    }
    #footer-div2-ul-1 {
        list-style-type: none;
    }
    #footer-div2-ul-2 {
        list-style-type: none;
    }
    #footer-div2-ul-3 {
        list-style-type: none;
    }
    .shopping-with-us {
        font-weight: bold;
        margin-bottom: 20px;
        font-family: 'Times New Roman', Times, serif;
    }
    .footer-list {
        margin-top: 12px;
        font-family: 'Times New Roman', Times, serif;
        font-size: 13px;
    }
    #Privacy-Policy-para {
        margin-left: 20px;
        font-size: 13px;
        font-family: 'Times New Roman', Times, serif;
    }
}

@media only screen and (max-width: 768px) and (min-width: 425px) {
    #header {
        width: 100%;
        height: 100px;
        background-color: skyblue;
        display: flex;
        flex-direction: column;
    }
    #header-div1 {
        width: 100%;
        height: 40px;
        margin-top: 15px;
        background-color: rgb(51, 183, 245);
    }
    #header-ul {
        display: flex;
        list-style-type: none;
        width: 60%;
        margin-right: 20px;
        font-size: 10px;
    }
    #header-div2 {
        display: flex;
        margin-top: 10px;
    }
    #stutern-logo {
        width: 50px;
        height: 40px;
        margin: 0px 50px 0px 20px;
    }
    #input {
        width: 150px;
        height: 22px;
        border: 2px solid gold;
        margin-bottom: 20px;
        border-right: none;
    }
    .dropdown1 {
        width: 120px;
        height: 26px;
        border: 2px solid gold;
        border-left: none;
    }
    #search-bar {
        width: 30px;
        height: 26px;
        background-color: gold;
        color: white;
    }
    #search-icon {
        margin-top: 6px;
        margin-left: 4px;
    }
    #cart-icon {
        margin-left: 20px;
        margin-top: 6px;
    }
    #section1 {
        width: 100%;
        height: 400px;
        display: flex;
        background-color: #f2f2f2;
    }
    #section1-div1 {
        background-color: white;
        width: 20%;
        height: inherit;
        margin-left: 30px;
    }
    h3 {
        font-size: 12px;
        margin: 5px 0px 2px 20px;
    }
    #section1-div1-ul {
        list-style-type: none;
        margin-left: 20px;
        font-size: 12px;
        font-family: 'Times New Roman', Times, serif;
        margin-top: 15px;
    }
    .list {
        margin-top: 12px;
    }
    #section1div2 {
        width: 50%;
        height: inherit;
        background-image: url(https://ae01.alicdn.com/kf/H99948d81ab0f496292325b1f6046f11fJ.jpg_Q90.jpg_.webp);
    }
    #section1-div3 {
        background-color: #f2f2f2;
        width: 25%;
        height: inherit;
        margin-right: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    #section1-div3-a {
        width: 150px;
        height: 150px;
        background-color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    #welcome-para {
        font-size: 13px;
        font-weight: bold;
        font-family: 'Times New Roman', Times, serif;
        margin-top: 20px;
    }
    #join-btn {
        width: 40px;
        height: 15px;
        border-radius: 17px;
        background-color: skyblue;
        color: white;
        font-family: 'Times New Roman', Times, serif;
        font-size: 10px;
    }
    #signin-btn {
        width: 40px;
        height: 15px;
        border-radius: 17px;
        background-color: white;
        color: gainsboro font-family;
        font-family: 'Times New Roman', Times, serif;
        border: 1px solid black;
        margin-top: 30px;
        font-size: 10px;
    }
    #cart-container1 {
        width: 100%;
        height: 600px;
        background-color: gray;
    }
    #cart-container2 {
        width: 100%;
        height: 600px;
        background-color: #f2f2f2;
        display: flex;
        flex-direction: column;
    }
    #cart-container2-a {
        display: flex;
        width: 100%;
    }
    #cart-container2-b {
        display: flex;
        margin-top: 10px;
        width: 100%;
    }
    .cart-div {
        width: 120px;
        height: 240px;
        background-color: white;
        margin-right: 10px;
        border-radius: 5px;
    }
    #cart-table {
        width: 100%;
    }
    #table {
        width: 400px;
        height: 100px;
        background-color: gainsboro;
        border-radius: 5px;
    }
    #item {
        font-size: 10px;
    }
    .cart-sub-div {
        margin-left: 12px;
    }
    .cart-img {
        width: 90%;
        height: 60%;
    }
    .item-name {
        font-size: 8px;
    }
    .item-price {
        font-weight: bold;
        margin-top: 5px;
        font-size: 8px;
    }
    .sold-items {
        font-size: 7px;
        margin-top: 5px;
    }
    .cart-btn {
        font-size: 7px;
        width: 50px;
        height: 15px;
        border-radius: 4px;
        background-color: skyblue;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        margin-top: 12px;
    }
    .img-in-cart {
        border-radius: 50%;
    }
    .table-head {
        font-size: 13px;
        font-family: Arial, Helvetica, sans-serif;
        position: relative;
        right: 20px;
    }
    .name-of-item {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 14px;
    }
    .remove-item {
        width: 80px;
        height: 20px;
        background-color: red;
        font-weight: bold;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 12px;
        border-radius: 4px;
    }
    #footer {
        width: 100%;
        height: 300px;
        background-color: skyblue;
        display: flex;
        flex-direction: column;
        color: black;
        font-family: 'Times New Roman', Times, serif;
    }
    #hr {
        border: 1px solid grey;
        width: 100%;
        margin: 10px 0px 0px 0px;
    }
    #hr-2 {
        border: 1px solid grey;
        width: 100%;
        margin: 10px 0px 15px 0px;
    }
    #footer-container {
        width: 100%;
        height: 200px;
        display: flex;
    }
    #footer-div1 {
        display: flex;
        flex-direction: column;
        width: 20%;
        height: inherit;
        margin-top: 10px;
    }
    #footer-div1-para {
        font-weight: bold;
        margin-bottom: 15px;
        font-family: 'Times New Roman', Times, serif;
        font-size: 13px;
    }
    .footer-icons {
        margin-left: 10px;
    }
    #footer-div1-ul {
        display: flex;
        list-style-type: none;
    }
    #footer-div2 {
        display: flex;
        width: 60%;
        height: inherit;
        margin-top: 10px;
    }
    #footer-div2-ul-1 {
        list-style-type: none;
    }
    #footer-div2-ul-2 {
        list-style-type: none;
    }
    #footer-div2-ul-3 {
        list-style-type: none;
    }
    .shopping-with-us {
        font-weight: bold;
        margin-bottom: 20px;
        font-family: 'Times New Roman', Times, serif;
        font-size: 13px;
    }
    .footer-list {
        margin-top: 12px;
        font-family: 'Times New Roman', Times, serif;
        font-size: 12px;
    }
    #Privacy-Policy-para {
        margin-left: 20px;
        font-size: 12px;
        font-family: 'Times New Roman', Times, serif;
    }
}